.wrapper{
  display: flex;
  flex-direction: column;
  height: 2.5rem;
}
.button {
  width: 2.5rem;
  height: 1.25rem;
  font-size: 14px;
}
.wrapper :global .MuiButton-root {
  border: 1px solid var(--neutral-80);
  color: var(--neutral-80);
}