.wrapper {
	display: flex;
	flex-direction: column;
	height: 2.5rem;
}

.addButton {
	height: 1.25rem;
	font-size: 0.875rem;
	width: 2.5rem;
	border-top: 1px solid var(--neutral-80);
	border-right: 1px solid var(--neutral-80);
	border-bottom: 1px solid var(--neutral-80);
	color: var(--neutral-sec-50);
	border-radius: 0 5px 0 0;
}

.removeButton {
	height: 1.25rem;
	font-size: 0.875rem;
	width: 2.5rem;
	border-right: 1px solid var(--neutral-80);
	border-bottom: 1px solid var(--neutral-80);
	color: var(--neutral-sec-50);
	border-radius: 0 0 5px 0;
}

.disabled {
	color: var(--neutral-95);
}