.wrapper :global .MuiButton-root {
  border: 1px solid var(--neutral-80);
  color: var(--neutral-80);
}

.button {
  width: 2.5rem;
  height: 2.5rem;
}

.wrapper :global .MuiButton-root {
  border: 1px solid var(--neutral-80);
  color: var(--neutral-80);
}
