.wrapper :global .MuiButton-root {
  border: 1px solid var(--neutral-80);
  color: var(--neutral-80);
}

.rightButton {
  width: 2.5rem;
  height: 2.5rem;
  border-top: 1px solid var(--neutral-80);
  border-right: 1px solid var(--neutral-80);
  border-bottom: 1px solid var(--neutral-80);
  color: var(--neutral-sec-50);
  border-radius: 0 0 0 0;
}
.leftButton {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--neutral-80);
  color: var(--neutral-sec-50);
  border-radius: 5px 0 0 5px;
}
