.root {
  border-radius: 0;
  border: none;
  font-size: 0.875rem;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: border var(--transition-2);
}

.root[class*='ant-picker-focused'] {
  border: none;
  border-bottom: 1px solid var(--neutral-80);
  box-shadow: none;
}

.root:hover:not([class*='ant-picker-focused']) {
  border: none;
  border-bottom: 1px solid var(--neutral-10);
  box-shadow: none;
}

.root [class*='ant-picker-input'] input {
  font-size: 0.875rem;
}

.root [class*='ant-picker-input-placeholder'] input {
  color: var(--neutral-60);
  font-family: 'Raleway', sans-serif;
}

.root [class*='ant-picker-input'] input::placeholder {
  color: var(--neutral-60);
  font-family: 'Raleway', sans-serif;
}

.underline {
  border-bottom: 1px solid var(--neutral-80);
}

.tableCell {
  border: none;
}

.tableCell.tableCell:hover {
  border-bottom: none;
}

.tableCell[class*='ant-picker-focused'] {
  border: none;
}

.root div[class*='ant-picker-active-bar'] {
  background: none;
  height: 0;
}

.root[class*='ant-picker-hover'] {
  border-bottom: 1px solid transparent;
}

.fullWidth {
  width: 100%;
}

.sizeXS {
  height: 32px;
}

.sizeS {
  height: 40px;
}

.sizeM {
  height: 48px;
}

.sizeL {
  height: 60px;
}

.root span[class*='ant-picker-suffix'] {
  display: none;
}

.root span[class*='ant-picker-clear'] {
  display: none;
}
.antPickerDropdown{
  z-index: 12312!important;
}

.antPickerDropdown[class*='ant-picker-dropdown'] {
  width: fit-content;
  border-bottom: none;
  z-index: var(--z-index-collapser);
}

.error {
  border-bottom: 1px solid var(--red-70);
}

.error.error [class*='ant-picker-input'] input::placeholder {
  color: var(--red-70);
}

.error + p {
  color: var(--red-70);
}

.error.error [class*='ant-picker-range-separator'] svg {
  fill: var(--red-70);
}

.antPickerDropdown [class*='ant-picker-header-view'] button:first-child {
  margin-top: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.antPickerDropdown [class*='ant-picker-header-view'] button:not(:first-child) {
  margin-top: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #c9c5ca;
}

.antPickerDropdown :global .ant-picker-cell-range-start .ant-picker-cell-inner{
  background: var(--electric-blue-70) !important;
  border-radius: 0.25rem 0px 0px 0.25rem !important;
}

.antPickerDropdown :global .ant-picker-cell-range-end .ant-picker-cell-inner{
  background: var(--electric-blue-70) !important;
  border-radius: 0px 0.25rem 0.25rem 0px !important;
}

.antPickerDropdown :global .ant-picker-cell-in-view.ant-picker-cell-in-range::before{
  background: var(--electric-blue-10);
}

.antPickerDropdown :global .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before{
  background: var(--electric-blue-10);
}

.antPickerDropdown :global .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before{
  background: var(--electric-blue-10);
}
