.wrapper :global .dx-scheduler-cell-sizes-horizontal {
  width: 3.125rem;
}

.wrapper :global .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
  max-height: 28.125rem !important;
  height: 25rem !important;
}

.wrapper
  :global
  .dx-scheduler-appointment-tooltip-wrapper
  > div.dx-overlay-content {
  max-height: 28.125rem !important;
  height: 25rem !important;
}

.wrapper
  :global
  .dx-scheduler-group-flex-container
  .dx-scheduler-group-row:last-child
  .dx-scheduler-group-header {
  width: 12.5rem;
}
