.wrapper {
  margin-top: 5px;
  padding-right: 1rem;
  border-right: 0.063rem solid var(--neutral-80);
  height: 1.875rem;
}
.views {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.menuItem {
  background-color: #fff !important;
}
.items {
  width: 52.5rem;
  display: flex;
}
.dateRange {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
  width: 100%;
}

.switchContainer :global .ant-switch-checked {
  background: var(--electric-blue-60) !important;
}

.switchContainer :global .ant-switch {
  border: 1px solid #79747e;
  background: var(--white-transp-100);
}

.switchContainer :global .ant-switch:hover {
  background: var(--white-transp-100);
}

.switchContainer :global .ant-switch-handle::before {
  background: var(--neutral-sec-50);
  top: -1px;
  bottom: 1px;
}
.switchContainer :global .ant-switch-checked .ant-switch-handle::before {
  background: var(--white-transp-100);
}
.switchContainer {
  display: flex;
  margin: 3.125rem 0 1.125rem 0.938rem;
}
.switchText {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: auto;
}

.switch {
  margin-left: 50px;
}

.dateRangeFooter {
  width: 100%;
  display: flex;
  margin-top: 25rem;
}

.daysCounter {
  display: flex;
  gap: 0.5rem;
}
.counter {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.range {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #79747e;
}
.buttons {
  display: flex;
  margin-left: auto;
  gap: 0.938rem;
}

.selectButton {
  color: var(--electric-blue-60);
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  border: none;
}

.menuItem :global .css-8je8zh-MuiTouchRipple-root {
  display: none !important;
}

.select {
  display: flex;
  margin-left: 1.375rem;
  align-items: center;
  text-align: center;
}
