.wrapper {
  width: 21.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
  background-color: var(--white-transp-100);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 1rem;
}

.buttonLight {
  cursor: pointer;
  padding: 0.375rem 0.5rem;
  background-color: var(--white-transp-100);
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  color: var(--electric-blue-60);
  border: var(--white-transp-100);
}

.buttonLight:hover {
  color: var(--electric-blue-70);
  background-color: var(--electric-blue-10);
}

.fio {
  padding: 0;
  width: 300px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: var(--neutral-10);
  /* text-wrap: balance; */
   white-space: pre-wrap;
  /* overflow-wrap: break-word; */
  /* word-wrap: break-word; */
}

.data {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px;

}

.dataTitle {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
  color: var(--neutral-sec-50);
}

.dateText {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: var(--neutral-10);
}

.clientType {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 18.5rem;
  height: 2.5rem;
}

.email {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 0.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: var(--neutral-10);
}

.number {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 0.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--neutral-10);
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
}

.dx-popup-content {
  max-height: 62.5rem;
}
