.wrapper {
  font-size: 0.875rem;
  color: var(--neutral-sec-50);
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-left: 1rem;
}

.point {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}

.paid {
  background-color: var(--green-light-40);
}

.booked {
  background-color: var(--sky-40);
}

.overdue {
  background-color: var(--magenta-40);
}
