.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
  max-height: max-content !important;
  /* width: max-content !important; */
}
.dx-scheduler-appointment-tooltip-wrapper > div.dx-overlay-content {
  max-height: max-content !important;
  /* max-width: max-content !important; */
}
/* .dx-scheduler-header {
  display: none !important;
} */
