:root {
  --neutral-sec-30: #49454f;
  --neutral-sec-50: #79747e;

  --yellow-40: #daa104;

  --red-40: #ff8686;

  --cyan-40: #0ebdba;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --webkit-overflow-scrolling: touch;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
